
.friendListWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}

.friendTitle{
    font-weight: 500;
    font-size: 30px; 
}

.online{
    color:green;
}

.offline{
    color:red;
}
